body {
  background: #ebeff5 !important;
  min-height: 100vh;
}

.image_gallary_container {
  background: #fefefe;
  min-height: 30vh;
  border-radius: 10px;
}

.gallery_wraper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3,1fr);
  grid-gap: 30px;
}
.gallery_wraper .active{
 grid-row: span 2;
 grid-column: span 2;
}
.img_card::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  opacity: 0;
  transition: opacity 0.3s;
}
.img_card_after_select::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
  left: 0;
  top: 0;
  transition: 0.3s;
}
.img_card:hover>.card_checkbox.hide{
  display: block;
}
.img_card:hover::after {
  opacity: 1;
  cursor: pointer;
}
.card_checkbox{
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1000;
  height: 16px;
  width: 16px;
}
.card_checkbox.hide{
  display: none;
}
.card_checkbox.show{
  display: block;
}
.delete_btn:hover{
  text-decoration: underline;
}

@media only screen and (max-width: 800px) {
  .gallery_wraper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3,1fr);
    grid-gap: 30px;
  }
}
@media only screen and (max-width: 400px) {
  .gallery_wraper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3,1fr);
    grid-gap: 30px;
  }
  .gallery_wraper .active{
    grid-row: span 1;
    grid-column: span 1;
   }
}


